html {
  box-sizing: border-box;
}
  
*, *:before, *:after {
  box-sizing: inherit;
}

:root {
  --header-footer-height: 42px;
  --sidebar-width: 200px;
  --form-padding: 5px;
}
  
body {
  margin: 0;
}

h3 {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}

#content {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100vh;
  width: 100vw;
}

.header,
.footer {
  background-color: #39CCCC;
  text-align: center;
  font-size: 36px;
}

.container {
  background-color: #e5e5e5;
  flex: 1;
  overflow-y: auto;
}

.sidebar {
  background-color: #DDDDDD;
  text-align: center;
  position: fixed;
  height: calc(100vh - (2 * var(--header-footer-height)));
  width: var(--sidebar-width);
  font-size: 24px;
}

.main {
  font-size: 24px;
  margin-left: var(--sidebar-width);
}

.task-list,
.group-list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

.task-list li,
.group-list li {
  padding: 10px 0;
  cursor: pointer;
}

.task-list li:hover,
.group-list li:hover {
  background-color: rgb(57, 204, 204, 0.75);
}

.add-tab {
  background-color: #3D9970;
  border-bottom: 2px #333 solid;
}

.task-list .add-tab:hover,
.group-list .add-tab:hover {
  background-color: rgb(61, 153, 112, 0.75);
}

.all-forms {
  background-color: #3D9970;
  padding: var(--form-padding);
}

#task-form {
  /* display: none; */
  display: flex;
  flex-direction: column;
  width: calc(--sidebar-width - --form-padding);
}

.form-button-div {
  display: flex;
  justify-content: center;
  margin-top: 5px;
  gap: 5px;
}

