html {
  box-sizing: border-box;
}
  
*, *:before, *:after {
  box-sizing: inherit;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/MaterialIcons-Regular.eot'); /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url('./fonts/MaterialIcons-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./fonts/MaterialIcons-Regular.woff2') format('woff2'),
    url('./fonts/MaterialIcons-Regular.woff') format('woff'),
    url('./fonts/MaterialIcons-Regular.ttf') format('truetype'),
    url('./fonts/MaterialIcons-Regular.svg#Inconsolata') format('svg'); /* Legacy iOS */
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

:root {
  --header-footer-height: 42px;
  --sidebar-width: 200px;
  --form-padding: 5px;
}
  
body {
  margin: 0;
}

p,
h3 {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}

#content {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100vh;
  width: 100vw;
}

.header,
.footer {
  background-color: #39CCCC;
  text-align: center;
  font-size: 36px;
}

.container {
  background-color: #e5e5e5;
  flex: 1;
  overflow-y: auto;
}

.sidebar {
  background-color: #DDDDDD;
  text-align: center;
  position: fixed;
  height: calc(100vh - var(--header-footer-height));
  width: var(--sidebar-width);
  font-size: 24px;
}

.main {
  font-size: 24px;
  margin-left: var(--sidebar-width);
  padding: 30px 200px;
}

.task-list,
.group-list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

.task-list li,
.group-list li {
  padding: 10px 0;
  cursor: pointer;
}

.task-list li:hover,
.group-list li:hover {
  background-color: rgb(57, 204, 204, 0.75);
}

.add-tab {
  background-color: #3D9970;
}

.add-tab-border {
  border-bottom: 2px #333 solid;
}

.task-list .add-tab:hover,
.group-list .add-tab:hover {
  background-color: rgb(61, 153, 112, 0.75);
}

#task-form,
#group-form {
  display: none;
  flex-direction: column;
  width: calc(--sidebar-width - --form-padding);
  padding: var(--form-padding);
  background-color: #3D9970;
}

.missing-name-field {
  animation-name: turn-red;
  animation-duration: 0.5s;
}

@keyframes turn-red {
  0% {
    background-color: #3D9970;
  }

  50% {
    background-color: #FF0000;
  }

  100% {
    background-color: #3D9970;
  }
}

.form-button-div {
  display: flex;
  justify-content: center;
  margin-top: 5px;
  gap: 5px;
}

.task-div {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px #AAA solid;
}

.right-side-div {
  display: flex;
  justify-content: space-between;
  margin-left: 30px;
}

.remove {
  border: 0;
  background-color: transparent;
}

.remove:hover {
  transform: scale(1.5, 1.5);
}

.unselectable {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.group-task-container {
  /* display: none */
  background-color: #fff;
  margin-left: 20px;
}